* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: right;
  padding: 2.5rem;
  gap: 2.5rem;
  width: auto;
  height: 2rem;

}
header a.info{
  color:#EAA247;
}
button.inscrever{
  display: flex;
  flex-direction: column;
  background-color: #A71F00;
  width: 5.5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  color: #fff;
  border-style: none;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 2rem;
  text-align: center;
  font-size: 1rem;
}

img .banner {
width: 5rem;
height:5rem;
align-items: center;
justify-content: center;
border: none;
}

h1 {
  display: flex;
  flex-direction: column;
  background-color: #000;
  color: #fff;
  font-size: 2rem;
  font-family: Caveat, sans-serif;
  align-items: normal;
  justify-content: center;
  text-align: normal;
}
div.regras{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  color: #A71F00;
  font-family: Caveat, sans-serif;
}

section {
  display: flex;
  flex-direction: column;
  background-color: #312F2F;
  align-items: center;
  justify-content: center;
  
}

section div.info {
  color: #A71F00;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  padding: 2rem;
  align-items: center;
  justify-content: center;
}
section div.info h2{
  justify-content: center;
  align-items- center;
  text-align: center;
}

p {
  color: #8A8682;
  font-size: 1rem;
  padding: 2rem;
  align-items: center;
  justify-content: center;
}
h2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #A71F00;
}
div.beneficio img{
  display: flex;
  flex-direction; column;
  justify-content: center;
  align-items: right;
  text-align: center;
}
section.formulario{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000;
}
label{
  color:#8A8682 ;
}
footer{
  justify-content: center;
  align-items: center;
  background-color: #312F2F;
  text-align: center;
}