* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #312F2F;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
}

header {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: right;
  padding: 1.5rem;
  gap: 2rem;
  width: auto;
  height: 5rem;

}
header a info{
  color:#EAA247;
}
button inscrever{
  display: flex;
  flex-direction: column;
  background-color: #A71F00;
  width: 5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  color: #fff;
  border-style: none;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 2rem;
  font-size: 1rem;
}

img .banner {
width: auto;
height:5rem;
align-items: center;
justify-content: center;
border: none;
}

h1 {
  display: flex;
  flex-direction: column;
  background-color: #000;
  color: #fff;
  font-size: 2rem;
  font-family: Caveat, sans-serif;
  align-items: normal;
  justify-content: center;
  text-align: center;
}

div.regras{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  color: #A71F00;
  font-family: Caveat, sans-serif;
}
ul{
  list-style: none;

section {
  display: flex;
  flex-direction: column;
  background-color: #312F2F;
  align-items: center;
  justify-content: center;
  
}

section div.info {
  color: #A71F00;
  display: flex;
  flex-direction: column;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  padding: 2rem;
  align-items: center;
  justify-content: center;
}
section div.info h2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items- center;
  text-align: center;
}

p {
  display: flex;
  flex-direction: column;
  color: #8A8682;
  font-size: 1rem;
  padding: 2rem;
  align-items: center;
  justify-content: center;
}
h2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #A71F00;
}
div.beneficio h2{
  display: flex;
  flex-direction: row;
  text-align: center
}
div.beneficio img{
  display: flex;
  flex-direction; column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
section.formulario{
  align-items: center;
  justify-content: center;
  background-color: #000;
}
form{
  color:#8A8682;
display: flex;
flex-direction: column;
}
form label input{
  display: flex;
  flex-direction: row;
  width: 2rem;
  height: 0.5rem;
footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #312F2F;
  text-align: center;
  height: 5rem;
  width: auto;
}